@font-face {
  font-family: 'PT Root UI', 'Open Sans', 'Fira Sans', Roboto, Rubik, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@import "http://fonts.fontstorage.com/import/ptrootui.css";

 
* {
     	margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
  font-family: 'PT Root UI';
  font-weight: normal;
  color: #301309;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 500px;
}

#announce{
  display: none;
}

.intro h2{
  display: none;
}

.header{ /* позиционирование логотип и меню бургер*/
  display: flex;
  align-items: flex-end;
  justify-content:space-between;
  max-width: 500px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
}

.logo {
  font-weight: bold;
  font-size: 36px;
  text-decoration: none;
  color: #301309;
  margin-right: auto;
}

 .bg_menu { /*svg бургера*/
  width: 30px;
  fill:rgba(48, 19, 9, 0.54);
  margin-left: auto;
}

.post{/*первый экран*/
    	background-color: #f2a007;
      background-image: url(https://github.com/Anastasiya-Danilova/New-collection2019/blob/master/img/320/NC320/320post.png?raw=true); 
    	background-repeat: no-repeat;
    	background-size: cover;
      background-position: right top;
      padding-top: 240px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 145px;
}

 h1 {
   color: #fCf9f4;
   font-size: 48px;
   text-align: center;
   max-width: 500px;
   min-width: 280px;
   margin-left: auto;
   margin-right: auto;
   background: rgba(242, 160, 7, 0.7);
   box-shadow: 6px 6px 2px rgba(70, 57, 33, 0.46);
   
 }

.unseen{ /*кнопка на постере*/
 display: none;
}

/*всплывающее меню*/
.menu{
   width: 300px;
   height: 600px;
   display: flex;
   flex-wrap: wrap;
  justify-content: flex-start;
   background: #FCF9F4;
   padding-top: 10px;
   padding-bottom: 25px;
   padding-right: 10px;
   padding-left: 10px;
   box-shadow: 10px 10px 4px rgba(152, 106, 20, 0.6);
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.hid_head {
   display: flex;
   width: 310px;
   align-items: flex-end;
  }

.close {
  width: 30px;
  height: 30px;
  fill:rgba(48, 19, 9, 0.54);
  margin-left: auto;
}

#conceal {
  width: 70px;
  align-self: flex-end;
}

.menu a{
  text-decoration: none;
  width: 300px;
  color: #301309;
  padding-top: 15px;
  padding-bottom: 10px;
}

.call{
  font-size: 22px;
  line-height: 15px;
  padding-top: 20px;
}

.call span{
  width: 300px;
  font-size: 12px;
  padding-top: 0px; 
}
 #pane {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
#pane:target {
  display: block;
}

.intro { /*блок с первым описанием и баннером*/
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 75px;
}

.description { /*текст*/
  width: 84%;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.button { /*контейнер для кнопок*/
  max-width: 320px;
  min-width: 280px;
  padding-top:20px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.click p { /*надпись кнопок*/
  width: 280px;
  padding-top:12px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #f2a007;
  margin-left: auto;
  margin-right: auto;
  background: #FCF9F4;
  border: 1px solid #F2A007;
  box-shadow: 0px 2px 4px #986A14;
}

.click { /*кнопки*/
  width: 280px;
  text-align: center;
  text-decoration: none;
}

.click:hover p{ /*наведение на кнопку*/
  background: linear-gradient(180deg, #F7BF55 0%, #F2A007 100%);
  color: #FCF9F4;
}

.catalog p { /*отступ у певой кнопки*/
  margin-bottom: 38px;
}

.banner { /*фон баннера*/
  max-width: 500px;
  background: linear-gradient(128.45deg, #73D29A 0%, #F2CF66 55.24%, #EF5558 99.23%);
  padding-top: 60px;
  padding-bottom: 60px;
}

.bonus { /*кнопка баннера*/
 height: 172px;
 font-size: 22px; 
}

.lookbook {/*блок слайдера*/
 padding-top: 74px;
 padding-bottom: 100px; 
}

.look {/*заголовок слайдера*/
  min-width: 280px;
  margin-bottom: 36px;
  font-size: 32px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*сладер*/
.slider{
  height:490px;
  text-align:center;
  margin:0 auto;
}
input{
  display:none
}
#slide1:checked ~ #slides .inner{
  margin-left:0;
}
#slide2:checked ~ #slides .inner{
  margin-left:-100%;
}
#slide3:checked ~ #slides .inner{
  margin-left:-200%;
}
#slide4:checked ~ #slides .inner{
  margin-left:-300%;
}
#slide5:checked ~ #slides .inner{
  margin-left:-400%;
}
#container{
  width:100%;
  
  overflow:hidden;
}
article {
  width:500px;
  height:490px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

.loc1{
    background-image: url(https://github.com/Anastasiya-Danilova/New-collection2019/blob/master/img/320/NC320/320_8.png?raw=true);    	
}
.loc2{
    background-image: url(https://github.com/Anastasiya-Danilova/New-collection2019/blob/master/img/320/NC320/320-7.png?raw=true);    	
}
.loc3{
    background-image: url(https://github.com/Anastasiya-Danilova/New-collection2019/blob/master/img/320/NC320/320-17.png?raw=true);    	
}
.loc4{
    background-image: url(https://github.com/Anastasiya-Danilova/New-collection2019/blob/master/img/320/NC320/320_3.png?raw=true);    	
}
.loc5{
    background-image: url(https://github.com/Anastasiya-Danilova/New-collection2019/blob/master/img/320/NC320/320_10.png?raw=true);    	
}

#slides .inner{
  width:500%;
  line-height:0;
}
 
#slides article{
  width:20%;
  float:left;
}

#commands{
  margin:-25% 0 0 0;
  width:100%;}

#commands label{
  width: 70px;
  height: 70px;
  opacity: 0.1;
}
#commands label:hover{
  opacity:0.7}

#slide1:checked ~ #commands label:nth-child(2),#slide2:checked ~ #commands label:nth-child(3),#slide3:checked ~ #commands label:nth-child(4),#slide4:checked ~ #commands label:nth-child(5),#slide5:checked ~ #commands label:nth-child(1){
  background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0%0D%0AcDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNGQ0Y5RjQiPjxkZWZzPjxzdHlsZT4uY2xz%0D%0ALTF7ZmlsbDpub25lO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iTGF5ZXIg%0D%0AMiIgaWQ9IkxheWVyXzIiPjxwYXRoIGQ9Ik0xMiwyNWExLDEsMCwwLDEtLjcxLS4yOSwxLDEsMCww%0D%0ALDEsMC0xLjQyTDE4LjU5LDE2bC03LjMtNy4yOWExLDEsMCwxLDEsMS40Mi0xLjQybDgsOGExLDEs%0D%0AMCwwLDEsMCwxLjQybC04LDhBMSwxLDAsMCwxLDEyLDI1WiIvPjwvZz48ZyBpZD0iZnJhbWUiPjxy%0D%0AZWN0IGNsYXNzPSJjbHMtMSIgaGVpZ2h0PSIzMiIgd2lkdGg9IjMyIi8+PC9nPjwvc3ZnPgo=') no-repeat;
  background-color: #f2a007;
  float:right;
  display:block;
}

#slide1:checked ~ #commands label:nth-child(5),#slide2:checked ~ #commands label:nth-child(1),#slide3:checked ~ #commands label:nth-child(2),#slide4:checked ~ #commands label:nth-child(3),#slide5:checked ~ #commands label:nth-child(4){
  background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0%0D%0AcDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNGQ0Y5RjQiPjxkZWZzPjxzdHlsZT4uY2xz%0D%0ALTF7ZmlsbDpub25lO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iTGF5ZXIg%0D%0AMiIgaWQ9IkxheWVyXzIiPjxwYXRoIGQ9Ik0yMCwyNWExLDEsMCwwLDEtLjcxLS4yOWwtOC04YTEs%0D%0AMSwwLDAsMSwwLTEuNDJsOC04YTEsMSwwLDEsMSwxLjQyLDEuNDJMMTMuNDEsMTZsNy4zLDcuMjlh%0D%0AMSwxLDAsMCwxLDAsMS40MkExLDEsMCwwLDEsMjAsMjVaIi8+PC9nPjxnIGlkPSJmcmFtZSI+PHJl%0D%0AY3QgY2xhc3M9ImNscy0xIiBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiLz48L2c+PC9zdmc+Cg==') no-repeat;
  background-color: #f2a007;
  float:left;
  display:block;
}

.slider{
  transform:translateZ(0);
  transition:all 0.5s ease-out;
}
#commands label{
  transform:translateZ(0);
  transition:opacity 0.2s ease-out;
}

#commands,#commands label{
  transform: translateZ(0);
  transition: all 0.5s ease-out;
}
.slider{max-width:500px}
@media only screen and (max-width:500px){
  .slider #commands{
    margin: -25% 0 0 0;
    width:100%;
    
  }
 
  .slider #slides{
    padding:2px 0;
  }
  .slider #commands label{
    transform: scale(0.7);
  }
}
/*слайдер конец*/

.benefit {/*блок преимущества*/
  background: #fefcf4;
  padding-top: 90px;
  padding-bottom: 30px;
  display: none;
}

/*иконки блока преимущества*/
.delivery svg {
  width: 72px; 
  height: 67px;
  fill: #301309;
}

.fitting svg {
  width: 69px; 
  height: 67px;
  fill: #301309; 
}

.local svg {
  width: 69px; 
  height: 67px;
  fill: #301309;
}

.quality svg {
  width: 69px; 
  height: 67px;
  fill: #301309;
} /*конец иконки блока преимущества*/

.plus p{/*текст блока преимущества*/
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  width: 124px;
  margin-top: 20px;
}

.icon {/*позиционирование иконок  и текста блока преимущества*/
  width: 124px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}


.clip {
   display: none; 
  }

 .advant{
   display: block;  
  }

/*блок подробности со скрытым текстом*/
.hidden { /*скрытый текст*/
   display: none;
   padding-right: 20px;
   padding-left: 20px;
   padding-bottom: 35px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.54);
} 
.reveal:focus ~ .hidden, 
.reveal:active ~ .hidden, 
.hidden:hover {
   display: flex;
   flex-wrap: wrap;
} 

 .reveal svg {
  fill: #301309;
  width: 30px; 
  height: 30px;
}


.reveal { /*позиционирование заголвка скрытого текста*/
  display: flex;
  justify-content:space-between;
  max-width: 500px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}

.reveal:active, .reveal:focus { /*подчёркивание в скрытом тексте*/
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  outline: none;
}

.reveal p { /*заголовок блока подробности*/
  font-weight: bold;
  font-size: 20px;
  
}

.detailed span {
  font-weight: 500;
}

.hidden a {
  font-weight: 500;
  text-align: center;
  margin-left: auto;
  color: #301309; 
}

.hidden p {
  max-width: 450px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  padding-bottom: 25px;
}
.payment .hidden {
 border-bottom-color: transparent; 
}

/* конец блока со скрытым текстом*/

/* Форма предзакза */
*:focus {outline: none;}

#inline {/*контейнер для формы*/ 
    max-width: 500px;
    background: #FEFCF4;
    padding-top: 70px;
    padding-bottom: 65px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -2px;
}

.pryce {/*заголовок для формы*/ 
    display: block;
    width: 280px;
    font-size: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

#inline .notice, #show .notice{ /*текст перед формой*/ 
    max-width: 450px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}
#inline .confirm, #show .confirm{/*текст обработка данных */ 
   max-width: 280px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
   margin-bottom: 50px;
}

.txt { /*поля формы*/
    display: block;
    color: rgba(48, 19, 9, 0.54);
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 10px;
    border: 1px solid #301309;
    padding: 9px 10px;
    font-size: 16px;
    font-family: 'PT Root UI';
    background: rgba(252, 249, 244, 0.05); 
}

.txt:focus {
  border-style: solid; 
  border-color: rgba(48, 19, 9, 0.54);
  background: rgba(252, 249, 244, 1);
  padding: 10px 10px;
  color: #301309; 
 }

.txt:focus:invalid { /* невалидное поле */
 background: rgba(252, 249, 244, 1); 
 border-color: #D82F40;
 border-style: solid;
 box-shadow: 0 0 5px #D82F40; 
 color: #D82F40;
}

.txt:required:valid { /*валидное поле */
 background: rgba(252, 249, 244, 1);
 box-shadow: 0 0 5px #008644;
 border-color: #008644;
}

#show {/*контейнер для формы*/ 
    max-width: 500px;
    padding-top: 70px;
    padding-bottom: 65px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -2px;
    background-color: transparent;
}
/* Форма предзаказа конец*/

/* модальное окно успех*/
.overlay {/* фон затемнения */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: #FCF9F4;
    position: fixed;
    cursor: default;
}

.overlay:target {
    display: block;
}

.popup {/* стили модального окна */
    width: 90%;
    min-width: 320px;
    max-width: 500px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #008644;
    top: -100%;
    right: 0;
    left: 50%;
    position: fixed;
    padding: 94px 15px;
    border: 4px solid #008644;
    background: #FCF9F4;
    box-shadow: 0 6px 6px #986A14;
    transform: translate(-50%, -500%);
    transition: transform 0.6s ease-out;
    z-index: 20;    
}

.overlay:target+.popup {
    transform: translate(-50%, 0);
    top: 20%;
}

.popup p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
}
/* конец модальное окно успех*/

/* футер*/
footer { /* футер*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FCF9F4;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-right: 20px;
  padding-left: 20px;
}

.foot {/*логотип футера*/
  width: 280px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}


.heading { /* заголовки футера*/
  width: 280px;
  min-width: 320px;
  max-width: 500px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.tel .heading { /* изменение стилей номера тел.*/
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 0px;
}

.website .heading { /*изменение стилей заголовка "на сайт"*/
  font-weight: 500;
  font-size: 36px;
}

.tel p,.contacts p, .expo p { /* текст*/
  width: 280px;
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
} 

.sign  .confirm{/*стиль подтверждение на обработку данных*/
  width: 280px;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.social {/* блок с иконками соцсетей*/
 width: 300px; 
 margin-left: auto;
 margin-right: auto;
  
}

.social svg {/* размер иконок*/
  width: 40px;
}

.social .heading {/*заголовок соцсетей*/
  margin-bottom: 40px;
  margin-left: auto;
 margin-right: auto;
}

.sk, .fb, .inst, .vk, .wa {/*изменение стилей ссылок на соцсети*/
  text-decoration: none;
  width: 40px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 40px;
} 

@media (min-width: 501px) and  (max-width: 768px) {
   
  html{
    	font-size: 81.5%;
   } 
  
  body {
   min-width: 501px;
   max-width: 768px;
 }
 
  #announce{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(166.12deg, #73D29A 0%, #F2CF66 55.24%, #EF5558 99.23%);
  padding-top: 15px;
  padding-bottom: 15px;
}

#announce h3{
  width: 474px;
  font-size: 28px;
  line-height: 35px;
  color: #FCF9F4;
}
  #announce .click, #announce p{
    width: 190px; 
  }

.header{ /* позиционирование логотип и меню бургер*/
  max-width: 768px;
 }

.logo {
  font-size: 40px;
 }

 .bg_menu { /*svg бургера*/
  width: 35px;
 }

.post{/*первый экран*/
      background-image: url(https://github.com/Anastasiya-Danilova/New-collection2019/blob/master/img/png768-1440/post_ab.png?raw=true); 
      background-position: center;
      padding-top: 40px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 25px;
      height: 600px;
      display: flex;
      flex-wrap: wrap;
      align-items:  flex-end;
}

.unseen{ /*кнопка на постере*/
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.unseen .catalog p{
  margin: 0px;
}

h1 {
  max-width: 768px;
  min-width: 501px;
  font-size: 58px;
  line-height: 1.7;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
    
.description { /*текст*/
  max-width: 570px;
  font-size: 18px;
  
}
  
  .intro h2{
    display: block;
    min-width: 501px;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 36px;
  }
  
 .intro .button { /*контейнер для кнопок*/
  display: none;
}

 .small { /*фон баннера*/
  
  display: none;
}
 
  .benefit{
    display: block;
  }
  
  .clip{
   min-width: 501px;
   max-width:768px;
   height:400px;
   display: block;
   background: linear-gradient(128.45deg, #73D29A 0%, #F2CF66 55.24%, #EF5558 99.23%);
    background-image: url(https://github.com/Anastasiya-Danilova/New-collection2019/blob/master/img/png768-1440/Banner768.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .bonus {
    width: 100%;
    height:400px;
   display: block;
  }
  
  .advant {
     display: none;  
  }
  
  .benefit {/*блок преимущества*/
    display: flex;
  } 
   
}
